<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body>
    <h1>OOps...</h1>
    <p>There is an error processing your request: <%= error_Msg %></p>
    <a href="/feedback">Show all of my feedback</a>
    <a href="/">Go back to Home Page</a>
  </body>
</html>
