<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div>
        <label for="email">Enter Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email"
          value="bob1@illinois.edu"
        />
      </div>
      <div>
        <label for="password">Enter password:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          value="123"
        />
      </div>
      <br />
      <button>Login</button>
    </form>
    <br />
    <a href="/register">Register</a>
  </body>
</html>
